#access {
    background-color: var(--light-blue);
    color: #fff;
    padding: 5rem 0;
}

#access .container {
    display: flex;
}

#access .access-text {
    width: 60%;
}

#access .access-text h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

#access .access-text p {
    padding-right: 5rem;
}

#access .access-input {
    width: 40%;    
}

#access .access-input form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#access .access-input form input{
    width: 75%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    align-self: flex-start;

}

#access .access-input form button{
    align-self: flex-start;
    width: 45%;
}