#access {
    background-color: var(--light-blue);
    color: #fff;
    padding: 5rem 0;
}

#access .container {
    display: flex;
}

#access .access-text {
    flex: 1;
}

#access .access-text h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

#access .access-input {
    flex: 1;    
}

#access .access-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#access .access-input form input{
    width: 60%;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

#access .access-input form button{
    position: relative;
    left: -119px;
}